{% extends "posts/base.html" %}

{% block head_title %}
    Post Detail | {{ block.super }}
{% endblock %}

{% block content %}
            <h1>Post Details: {{ post.id }}</h1>
            <ul>
                <li>{{ post.title }}</li>
                <li>{{ post.content }}</li>
                <li>{{ post.updated_at }}</li>
                <li>{{ post.created_at }}</li>
            </ul>

            <p><a href="{% url 'posts:list' %}">List</a> | <a href="{% url 'posts:edit' post.id %}">Edit</a> | <a href="{% url 'posts:delete' post.id %}">Delete</a></p>
{% endblock content %}